.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
}

.navbarContainer {
    position: fixed;
    bottom: 30px;
    z-index: 2;
}

.homeBackgroundWrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBackgroundName {
    font-size: 15vw;
    color: var(--maintext-color);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

@keyframes pulse {
    0% { transform: scale(1) rotate(0deg); filter: blur(2px); }
    50% { transform: scale(1.05) rotate(0.5deg); filter: blur(3px); }
    100% { transform: scale(1) rotate(-0.5deg); filter: blur(2px); }
}

.homeButton,
.darkModeButton {
    position: fixed;
    border-radius: 50%;
    border: none;
    background: none;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    cursor: pointer;
    color: var(--secondary-color);
    z-index: 2;
}

.homeButton {
    top: 10px;
    left: 10px;
}

.darkModeButton {
    top: 10px;
    right: 10px;
}

.section {
    width: 100%;
    z-index: 1;
}

.section-loader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .homeBackgroundName {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 768px) {
    .homeButton {
        top: 15px;
        left: 15px;
        height: 40px;
        width: 40px;
    }
    
    .darkModeButton {
        top: 15px;
        right: 15px;
        height: 40px;
        width: 40px;
    }
    
    .navbarContainer {
        bottom: 20px;
    }
    
    .homeBackgroundName {
        font-size: 20vw;
        margin-bottom: 50px;
    }
}
