@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  user-select: none;
}

.app {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.app.ready {
  opacity: 1;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
}

body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.link {
  text-decoration: none;
  color: var(--secondary-color);
}

:root {
  --primary-color: #F2F2F2;
  --secondary-color: #1C1C1C;
  --secondary-opacity-color: rgba(28, 28, 28, 0.8);
  --teriary-color: #FFFFFF;
  --navbar-background: transparent;
  --maintext-color: rgba(0, 0, 0, 0.1);
  --active-color: #FF9900;
  --bg-border: rgba(0, 0, 0, 0.1);
  --about-image: url("../src/Components/Images/LightAbout.png");
  --contact-image: url("../src/Components/Images/LightContact.png");
}

[data-theme='dark'] {
  --primary-color: #1C1C1C;
  --secondary-color: #F2F2F2;
  --secondary-opacity-color: rgba(242, 242, 242, 0.8);
  --teriary-color: #000000;
  --navbar-background: rgba(255, 255, 255, 0.1);
  --maintext-color: #000000;
  --active-color: #F64377;
  --bg-border: rgba(255, 255, 255, 0.4);
  --about-image: url("../src/Components/Images/DarkAbout.png");
  --contact-image: url("../src/Components/Images/DarkContact.png");
}
